.item {
  display: flex;
  flex: 1;
  width: 97%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-bottom: 0px;
}

.s1 {
  width: 65%;
}

.s2 {
  width: 30%;
  display: flex;
  flex-direction: column;

  height: 140px;
}

.cartpage {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex: 1;
  background-color: white;
  width: 100vw;
}

.background {
  width: 100%;
  height: 100%;
  background-color: white;
}

.continue {
  position: relative;
  left: 20px;
  text-decoration: none;
  color: skyblue;
}

.notfound {
  width: 72vw;
  flex: 1;
  background-color: white;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 0px;
  padding-top: 0px;
}

.nothing {
  margin: 20px;
  margin-bottom: 30px;
}

.shop {
  font-size: 25px;
  font-weight: 300;
  margin: 10px;
  margin-bottom: 5px;
}

.tprice {
  margin-right: 10px;
  margin-top: 10px;
  font-weight: 200px;
  color: grey;
}

.subtotal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  height: 160px !important;
  margin-left: 24px;
  margin-right: 8px;
  background-color: #f3f3f3;
  /* height: 40px; */
  padding: 10px;
  flex: 1;
}

.cart_hr {
  display: none;
}

.gift {
  margin-right: 5px;
  margin-left: 15px;
}

.assure {
  margin: 10px;
}

.proceed {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  color: black;
  border-radius: 12px;
  padding: 7px;
  font-size: 12px;
  border: none;
  width: 85%;
  height: 30px;
  margin: 12px auto;

  outline: none;
}

strong {
  font-weight: 500;
}

.total {
  font-weight: 400;
  font-size: 17px;
  height: 40px;
  margin: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.proceed:hover {
  background: linear-gradient(to bottom, #ffcd58, #ffd874);


}

.cart_hr {
  display: none;
}

.proceed:active {
  outline: none;
  background-color: #f7db51;
}

.proceed:focus {
  outline: none;
}

.proceed:visited {
  outline: none;
}

.carthr {

  margin-left: 10px;
}


@media only screen and (max-width:600px) {
  .s1 {
    width: 100%;
  }

  .s2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

  }

  .proceed {
    margin-left: 3px;
    margin-right: 0px;
  }

  .subtotal {
    background-color: white;
    width: 100vw;
    margin: 5px auto;
  }

  .cart_hr {
    display: block;
  }

  .cartpage {
    flex-direction: column-reverse;
  }

  .gift {
    display: none;
  }

  .gift1 {
    display: none;
  }

  .proceed {
    height: 50px;
    width: 95%;
    font-size: 18px;
    padding: 15px;
  }
}